body{
  background-color: rgb(18, 79, 129);
  text-align: center;
  align-content: center
}
table{
  background-color: rgb(241, 243, 243);
  border-color: black;
  align-content: none;
  border-color: black;
}
h1{
  font-family: 'Macondo', cursive; 
  font-family: 'Slabo 27px', serif;
  color: rgb(83, 8, 8);
  padding: 15px;
}
li{
  color: rgb(46, 5, 5);
  padding: 4px;
  font-size: 14px;
  font-family: sans-serif;
}