body{
  background-color: rgb(27, 104, 167);
  text-align: center;
}
table{
  background-color: rgb(238, 17, 17);
  border-color: black;
}
h1{
  font-family: 'Macondo', cursive; 
  font-family: 'Slabo 27px', serif;
  color: rgb(83, 8, 8);
  padding: 15px;
}
li{
  color: rgb(46, 5, 5);
  padding: 4px;
  font-size: 14px;
  font-family: sans-serif;
}