
body{
  background-color: rgb(31, 147, 241);
  text-align: center;
  }
h1{
  font-family: 'Macondo', cursive; 
  font-family: 'Slabo 27px', serif;
  color: rgb(83, 8, 8);
  font-size: 25px;
  padding: 6px;
}
ol{
  padding: 2px;
}
li{
  color: rgb(46, 5, 5);
  padding: 4px;
  font-size: 14px;
  font-family: sans-serif;
}

#hours{
  position: relative;
  text-align: left;
}

#hours h1{
  font-size: 20px;
}
button{
  position: relative;
  float:right;
  bottom: 10px;
  right: 10px;

}
